<h1>Criar novo registro</h1>

<%= form_with(model: @registro, class: "flex flex-col gap-4") do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div>
    <%= f.label :valor %>
    <%= f.number_field :valor %>
  </div>
  <div> 
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <%= f.submit nil, class: "w-min block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"  %>
<% end %>